.header{
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding:1rem;
    background-color: #ECECEC;
    justify-content: space-between;
}
.headerSec{
    display:flex;
    align-items: center;
}
.headerCombined{
    font-size: 0.8rem;
    width: 15vW;
    background-color: whitesmoke;
    height:100vH;
    position: relative;
}

.sortVisual{
    width: 85vW;;
    display: flex;
    justify-content: center;
}

.buttonsWrapper{
    width: 100%;
    padding-top:2rem;
    position: absolute;
    bottom: 1rem;
    padding:0 1rem;
}
.buttonsWrapper button{
    width:100%;
}

.buttonsWrapper button + button {
    margin-top:0.5rem;
}

button{
    text-align: center;
    padding:0.5rem 2rem;
    display: flex;
    justify-content: center;
    -webkit-appearance: none;
    background-color: #2F80ED;
    color:white;
    box-shadow: none;
    border:0;
    border-radius: 0.25rem;
}
button.buttonDestructive{
    background-color: #EB5757;
    color:white;
    display: flex;
    align-items: center;
}
button.buttonDestructive *{
color:white;
}

button:disabled{
    background-color: grey;
}

.headerIconLabel{
    padding-left:1rem;
}
.iconLabel{
    padding-left:0.25rem;
}
.bold{
    font-weight: bold;
}

.headerRow{
    position: relative;
    padding:0 1rem;
}
.headerRow:nth-child(2){
    padding-top:2rem;
}
.headerRow .bold{
   cursor: pointer;
   display: flex;
   align-items: center;
   text-align: left;
}
.headerRow .arrow{
    font-size: 1rem;
    margin-left:0.75rem;
}
.headerRow .arrow[data-class='up']{
    transform: rotate(180deg);
}
.headerRow .bold:hover{
    background-color: whitesmoke;
}
.headerRow + .headerRow{
    padding-top: 2rem;
}
.headerRow > span + span{
   padding-left: 0.5rem;
}
.headerRow > span:last-child{
   display: flex;
   align-items: center;
   padding-left: 1rem;
 }

 .radioInputWrapper{
     padding-top:0.5rem;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
 }
 .radioInputWrapper input + span{
    padding-left: 0.3rem;
}

.input{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding:0.25rem 0;
    cursor:pointer;
}

.page {
    display:flex;
}
.input:hover{
    background-color: lightgrey;
}

.row{
    background-color: #2F80ED;
    width: 2px;
    /* transition : height 1s linear; */
}
.row + .row{
   margin-left:2px;
}

.sortTime{
    position: fixed;
    bottom: 1rem;
    right:1rem;
    font-size: 0.8rem;
}
.rangeValueText{
    padding-left: 0.5rem;
    font-weight: bold;
}

.selectedSort{
    padding-top: 0.2rem;
    font-weight: normal;
}
.rangeInputWrapper{
    display:flex;
    align-items: center;
    padding-top:0.5rem
}
.mobileMenu{
    display: none;
}

@media only screen and (max-width: 768px) {
    .page{
        display: flex;
        flex-wrap: wrap;
    }
    .headerCombined{
        width:80%;
        position: fixed;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
        z-index: 99999999;
        left: -66%;
        transition: 0.3s ease-in-out;
    }
    .sortVisual{
        width:100%;
    }
    .mobileMenu{
        display: block;
    }
    .buttonsWrapper{
        /* top: 75vH; */
        bottom:4rem;
    }
}

